-f https://download.pytorch.org/whl/torch_stable.html
fastapi
uvicorn
gunicorn==19.9.0
uvloop
httptools
numpy==1.21.4
opencv-python==4.5.4.60
Pillow==8.4.0
torch==1.8.1+cpu
torchvision==0.9.1+cpu
imutils==0.5.4